#Client Configuration
#
# This configuration file contains client-side settings that do not affect the game logic.
# The mob farm screen also offers a button to switch the theme, which updates this file.
#
# Configuration Options:
# ----------------------
# mobFarmScreenTheme: Theme of the mob farm screen
#   (technology, technical [Original], classic, rustic, dark, steampunk, create;
#    default: technology)
#Sat Oct 03 19:53:20 EDT 2026
mobFarmScreenTheme=technology
